.page-container{
    /* centering on page */
    margin: 0 auto;
    max-width: 1920px;
}

.page-content{
}

.form-control{
    width: 200px;
}
.form-header{
    font-weight: bold;
    font-size: 19px;
}