<!--ref https://www.paypalobjects.com/digitalassets/c/website/marketing/emea/gb/en/email-invoice/step-3.png-->
<!--Limit container with max-width for nothing longer than 1920px-->
<!--Create media queries for mobile viewers-->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>lorem Ipsum Invoices</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link th:href="@{/css/main.css}" rel="stylesheet">
        <script th:src="@{/js/buttonFunctions.js}" async></script>

    </script>
</head>
<body id="container">
    <div id="invoiceContainer">
        <div id="headerContainer">
            <img th:src="@{/images/placeholderLogo.png}" id="logo"/>
            <h2 id="headerInvoice">Invoice</h2>
        </div>
        <div id="informationContainer">
            <div id="vendorInformation">
                <div id="vendorAddressContainer">
                    <p class="vendorPoint" id="vendorName" th:text="${vendor.name}"/>
                    <p class="vendorPoint" id="vendorAddress" th:text="${vendor.street}"/>
                    <p class="vendorPoint" id="vendorProvince" th:text="${vendor.province}"/>
                    <p class="vendorPoint" id="vendorCountry" th:text="${vendor.country}"/>
                </div>

                <div id="vendorContactContainer">
                    <p class="vendorPoint" id="vendorPhone" th:text="${vendor.phone}"/>
                    <p class="vendorPoint" id="vendorEmail" th:text="${vendor.email}"/>
                </div>
            </div>
            <div id="invoiceInformationContainer">
                <div class="row">
                    <div class="col">
                        <p class="invoiceHeader">Invoice Number</p>
                    </div>
                    <div class="col">
                        <p class="invoicePoint" th:text="${invoiceInfo.number}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="invoiceHeader">Invoice Date</p>
                    </div>
                    <div class="col">
                        <p class="invoicePoint" th:text="${invoiceInfo.dateCreated}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="invoiceHeader">Payment terms</p>
                    </div>
                    <div class="col">
                        <p class="invoicePoint" th:text="${invoiceInfo.terms}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="invoiceHeader">Due date</p>
                    </div>
                    <div class="col">
                        <p class="invoicePoint" th:text="${invoiceInfo.dateDue}"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="billInformationContainer">
            <p id="billToHeader">Bill To</p>
            <p th:text="${billTo}"/ id="billToInfo">
        </div>

        <!--Invoice table here-->
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total Amount</th>
                </tr>
            <thead>
            <tbody>
                <tr th:each="item, entryNumber: ${item}">
                    <td th:text="${entryNumber.index}"/>
                    <td th:text="${item.itemName}"/>
                    <td th:text="${item.quantity}"/>
                    <td th:text="'$' + ${item.itemCost}"/>
                    <td th:text="'$' + ${item.itemTotal}"/>
                </tr>
            </tbody>
        </table>
        <hr/>
        <div id="noteFooterContainer">
            <div id="noteContainer">
                <p id="noteHeader">Note to recipient(s)</p>
                <p th:text="${note}"/>
            </div>
            <div id="subTotalContainer">
                <p id="subtotalHeader">Subtotal</p>
                <p id="subtotalHeader" th:text="'Tax' + '(' + ${taxRate} + '%' + ')'">
                <p id="subtotalHeader">Total</p>
            </div>
            <div id="totalContainer">
                <p id="totalValue" th:text="'$' + ${subTotal}">
                <p id="totalValue" th:text="'$' + ${taxAmount}"/>
                <p id="totalValue" th:text="'$' + ${total}"/>
            </div>
        </div>
    </div>
    <div id="buttonOptions">
        <button 
            type="button" 
            class="btn btn-primary invoiceButton"
            th:onclick="payInvoice();"
            >
            Pay Invoice 
        </button>
        <button 
            type="button" 
            class="btn btn-secondary invoiceButton"
            th:onclick="printInvoice();"

            >
            Print Invoice 
        </button>
    </div>
</body>
</html>
